{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Flasky Profile{% endblock %}

{% block page_content %}
<div class="page-header">
    <img class="img-rounded profile-thumbnail" src="{{user.gravatar(size=256) }}" alt="Use profile pic">
    <div class="profile-header">
        <h1>{{ user.username }}</h1>
        {% if user.name or user.location %}
             <p>
                 {% if user.name %}{{ user.name }}{% endif %}
                 {% if user.location %}
                    From <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>
                 {% endif %}
             </p>
        {% endif %}
        {% if user.email and current_user.is_administrator() %}
            <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}
        {% if user.about_me %}<p>{{ user.about_me }}{% endif %}
            <p>
                Member since {{ moment(user.member_since).format('L') }}.
                Last seen {{ moment(user.last_seen).fromNow() }}.
            </p>
        <p>
        {% if current_user.can(Permission.FOLLOW) %}
            {% if current_user.is_following(user) %}
                <a class="btn btn-default" href="{{ url_for('.unfollow', username=user.username) }}">Unfollow</a>
            {% else %}
                <a class="btn btn-primary" href="{{ url_for('.follow', username=user.username) }}">Follow</a>
            {% endif %}
         {% endif %}
        <a href="{{ url_for('.followers', username=user.username) }}">Followers: <span class="badge">{{ user.followers.count() - 1 }}</span></a>
        <a href="{{ url_for('.followed_by', username=user.username) }}">Following: <span class="badge">{{ user.followed.count() - 1 }}</span></a>
        {% if current_user.is_authenticated and current_user != user and current_user.is_followed_by(user) %}
            <span class="label label-success">Follows You</span>
        {% endif %}
        </p>
        <p>
        {% if current_user.is_administrator() %}
            <a class="btn btn-default" href="{{ url_for('.edit_profile_admin', id=user.id) }}">Edit [Admin]</a>
        {% elif user == current_user %}
            <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Edit Profile</a>
        {% endif %}
        </p>
    </div>
  </div>
{% include '_posts.html' %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.user', username=user.username) }}
</div>
{% endblock %}